<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title" id="up">Listado de Productos</span>
                    <button class="btn btn-success float-end" routerLink= "/new-product">Nuevo</button>
                    <table *ngIf= "listarproducts.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor= "let product of listarproducts">
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>{{product.location}}</td>
                            <td>{{product.price | currency: 'USD' }}</td>
                            <td>
                                <i [routerLink]="['/edit-product', product._id]" class="far fa-edit text-primary"></i> 
                                <i (click)="deleteProduct(product._id)" class="fas fa-trash-alt text-danger"></i> <!--Cuando suceda el evento click, se disparará el método deleteproduct que recibe como parametro el id-->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <a href="#up"><button *ngIf="listarproducts.length == 0" class="btn btn-primary">Volver</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
